[2020-06-09 13:00] gabrielmaldi opened #1 "Minor formatting issues"
Thanks for this plugin! I found it thanks to your [comment](https://github.com/prettier/prettier/issues/6034#issuecomment-640039393) and now I'm able to use Prettier + your parser to format go templates! I have just tried it out (removing all the `` directives I had in my code) and it works really well! 😊

These are the issues I have found in my codebase (before/after formatting with go-template),

[2020-06-09 13:17] NiklasPor commented on #1
I'll have a look into all of them. I can already imagine why the first & second example are behaving like this, not sure about the third one tho.

I'll add test cases for all of them & fix them 🚀

[2020-06-12 19:42] Pezmc opened #2 "Manually override file type support"
In https://github.com/prettier/prettier/issues/6034#issuecomment-640039393, you said:

I only have Go Template `.html` files in my repo, is there a way to override that support? Or provide prettier a list of globs to run `prettier-plugin-go-template` on instead of the standard HTML one!

[2020-06-12 20:03] NiklasPor commented on #2
Good news, I just found out you can override the used parser with a custom parser like this:

---

To use it with GoHugo and basic `.html` files, you'll have to override the used parser inside your `.prettierrc` file:
[code]

---

Also added it to the readme.

[2020-06-12 20:26] #2 closed

[2020-06-13 18:31] Pezmc commented on #2
Amazing, thank you for the update!

[2020-06-17 14:27] gabrielmaldi opened #3 "Formatting issues"
Hi! Thanks again for this plugin! 😊

I'm seeing the following formatting issues in my codebase:

- This is all compressed to one line, where I think it should stay on three lines ([Prettier's HTML parser behaves like this](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeAhgAjAG3QZ3wF4AdEASwFt0BzOTAM3JjID4SpNNUqbN8ATmFIgAsgE9+EAK5C4ZTOhwwREzFVryQmAPTsoqHen0gANCAgAHGOWj5kodAIEQA7gAUnCeyiWv04vbmA

[2020-06-19 05:58] NiklasPor commented on #3
Alright, I'll have a look at those examples 👍

[2020-06-19 16:52] NiklasPor commented on #3
Thanks for the input, really helps with writing test cases 😆 .  In `0.0.4` they now format like that:

---
The first example will be split up in different lines, as the attribute length exceeds the configured max length. But this time in an appropriate way:
![image](https://user-images.githubusercontent.com/13211347/85158909-17d8ac80-b25d-11ea-93df-f6e80d299c4e.png)

---
The second example will st

[2020-06-19 16:52] #3 closed

[2020-06-20 01:34] gabrielmaldi commented on #3
Thanks a lot!! 😊

[2020-07-26 17:19] brennanangel opened #6 "JSON settings aren't working"
**Environments:**
Prettier Version: 2.0.4
Running Prettier via: CLI or VSCode plugin
Runtime: Node.js v14.5.0
Operating System: macOS Catalina 10.15.6

**Steps to reproduce:**
`prettier --write ./layouts/_default/list.html`

**Expected behavior:**
To use the plugin and format go (Hugo) html

**Actual behavior:**
I get an error:
`[error] Couldn't resolve parser "go-template"`

**Attempted fixes**
-

[2020-07-27 06:16] NiklasPor commented on #6
Hi Brennan, happy to see that you're using this plugin 👍

Would you mind telling me if you're have installed `prettier` & `prettier-plugin-go-template` locally into your repository, or if you have it installed globally (`npm i -g`)?

Kind regards,
Niklas

[2020-07-27 16:38] brennanangel commented on #6
locally in the repo. Just installed globally and it worked great. Easy workaround! Thanks, I should've thought of that :)

Do you have any thoughts on how to best handle nested If/with conditionals when using the plugin?

Perhaps this is only be a Hugo thing:
![image](https://user-images.githubusercontent.com/12521775/88567659-a5da4c80-cfec-11ea-963f-45d6ba141724.png)

You're awesome for making th

[2020-07-28 04:08] goldcoders opened #8 "Does this work with <script> tag?"
Im looking for a solution to ignore error or declare in prettierrc that
when they see {{ }} and a $ or a . dot they will just know its from go template
Ive tried your plugins seems not working my usecase still getting an error

this error only happens if used inside an IF statement or using :=  , functions eq ne ,etc..
Seems like prettier is using  the its default for javascript...

Since {} is a

[2020-07-28 06:29] NiklasPor commented on #8
Hi, thanks for creating the issue!

It would be nice if you could give one (or mulitple) code examples on which is the actual behavior, and on which behavior you would expect :)

The `{{}}` inside JS is a tricky thing, because it is also just valid JS 👀

[2020-07-30 13:04] bgold0 opened #9 "Formatting Bugs"
You seem like our only hope for creating a go templating formatter so kudo's on taking on the challenge. I've listed out some formatting bugs I see in hopes of making this cleaner! There are a lot more but this is a starting place.

**Notes**
- Spaces between the `{{ }}` should be consistent throughout. Example. `{{ if}}` should be `{{ if }}` or whatever standard you want to use.
- There is no spa

[2020-07-30 13:13] NiklasPor commented on #9
I'll take a look at those this evening.
Atleast **1** should be easily fixable.

[2020-07-30 13:15] NiklasPor commented on #6
Currently the plugin performs the same formatting, for whatever commands are used inside `{{}}`.

I'll close this for now, as the initial issue is resolved. If you have some other topics just open a new one.

[2020-07-30 13:15] #6 closed

[2020-07-30 19:06] NiklasPor commented on #9
`v0.0.5` should fix *1*

As for the others I'll have a look at them in the following week.
Also feel free to contribute 👍

[2020-07-31 12:00] alqu opened #10 "Unify bracket spacing breaks code for hugo"
You recently added acd67e7e89b38ac40a3180196764c33335ddbc96. In this change, all additional spaces are removed and - more importantly - if there is no space between brackets and code like `{{mycode}}` then they are added. But this adjustment also breaks code:

From:
[code]
to:
[code]
Which causes an error in hugo: `parse failed: template: ...: illegal number syntax: "-"`

[2020-07-31 12:03] alqu commented on #10
The `{{- ... -}}` is valid syntax.
See https://gohugo.io/templates/introduction/#whitespace

[2020-07-31 12:14] NiklasPor commented on #10
Oh, didn't know about that. I'll hotfix this.

[2020-07-31 12:31] NiklasPor commented on #10
Upgrade to `v0.0.6` and the problem is solved 👍
If you find any other problems, feel free to open an issue.

Thanks for the notice!

[2020-07-31 12:31] #10 closed

[2020-07-31 15:03] alqu commented on #10
Cool! Works like a charm.

[2020-08-01 22:08] jensamunch opened #11 "Help with vs studio"
["INFO" - 11:07:19 PM] Detected local configuration (i.e. .prettierrc or .editorconfig), VS Code configuration will not be used
["INFO" - 11:07:19 PM] Prettier Options:
{
  "filepath": "/Users/jensamunch/Documents/website-v6/layouts/partials/book-a-demo.html",
  "parser": "go-template"
}
["ERROR" - 11:07:19 PM] Error formatting document.
["ERROR" - 11:07:19 PM] Couldn't resolve parser "go-template

[2020-08-04 14:04] chnghia opened #12 "Keep indent inside html"
Hi @NiklasPor,
Please consider about the indent of `{{ }}` inside of html code.
I looked inside your test case, seems it's not cover with indent of `{{ }}` yet.
How do you think?
[code]

[2020-08-04 19:08] NiklasPor commented on #12
Hi, thanks for hitting me up.

The test case (you proposed?), seems to work fine :)
Could you specify what exactly isn't covered by the current tests?

[2020-08-04 19:12] NiklasPor commented on #11
Hi, sounds like you're maybe missing one of the two dependencies?

You'll need to have **both** installed locally (`npm i prettier prettier-plugin-go-template`) **or** globally (`npm i -g prettier prettier-plugin-go-template).

Tell me if this helps you, maybe I should add a short FAQ :)

[2020-08-05 11:07] jensamunch commented on #11
hey - thanks for the help!

i did have prettier-plugin-go-template installed locally through "npm i" but was using the vs studio extension for prettier which didn't pick up the template.

i think what fixed it was installing prettier globally...

maybe add a line in the README for how to work with VS Studio and the prettier extension?

THanks!

[2020-08-05 14:49] chnghia commented on #12
Hi, the below is a case of my html template
[code]
if use with this formatter, it become:
[code]

[2020-08-05 17:57] NiklasPor commented on #12
Ah ok, to implement this we'd need to handle block statements inside the template different than the regular ones. I'll have a look at it any try my best.

I'll try adding all keywords from that list:
https://golang.org/pkg/text/template/#hdr-Actions

[2020-08-08 06:11] #11 closed

[2020-08-08 06:12] NiklasPor commented on #8
I'll close this for now, as there has been no reply.

[2020-08-08 06:12] #8 closed

[2020-08-13 07:56] NiklasPor commented on #3
@all-contributors please add @gabrielmaldi  for bugs

[2020-08-24 15:08] janraasch commented on #12
Hi @NiklasPor, thank you for this sweet plugin.

This is just me plus-1-ing this issue 😇:

Same issue here.

I'd love to have this fixed for usage on my [https://gohugo.io/](templates).

[2020-08-25 04:44] chnghia commented on #12
Thanks @NiklasPor
I found new extension https://unibeautify.com, it works perfect with hugo html template

[2020-08-25 10:49] NiklasPor commented on #12
@chnghia Happy to hear you found an extension.

I'll just keep this issue open until the behaviour is also implemented here 👍

[2020-09-06 20:57] NiklasPor commented on #12
@janraasch v0.0.8 includes block formatting!

Code like this:
[code]

Will be formatted like this:
[code]

Basically if, range, block, with, define, end now all behave like regular HTML tags.

If you find any other formatting issues, please open another issue.

[2020-09-06 20:57] #12 closed

[2020-09-06 21:21] NiklasPor commented on #9
## v0.0.9

2 is formatted like this:
[code]

which is way better, but still not perfect.

---

3 is formatted like this:
[code]

Which looks good to me :)

[2020-09-07 09:20] alqu commented on #9
I also tested this. Looks good to me, too.

[2020-09-07 09:31] NiklasPor commented on #9
@all-contributors please add @bgold0  for bug

[2020-09-07 09:37] janraasch commented on #12
Thanks a bunch, @NiklasPor 💟 .

Look at those pretty HTML-files: https://github.com/janraasch/hugo-product-launch/commit/9883b9635273feef49da2ac07815a74efe5d0377 😉 .

I just love that I do not have to worry about readable formatting myself 😅 😄 - such a time saver!

[2020-09-08 17:02] richtera opened #19 "Problem with comments"
`{{/* .... */}}` gets reformatted as a command `{{ /* .... */ }}` breaking hugo.

[2020-09-08 17:10] NiklasPor commented on #19
I'll have a look at this. Should be an easy fix.

[2020-09-08 17:20] NiklasPor commented on #19
Single line comments are fixed in `v0.0.10`.

I'll open a separate issue for multiline comments.

[2020-09-08 17:21] NiklasPor commented on #19
@all-contributors please add @richtera  for bugs

[2020-09-08 17:21] #19 closed

[2020-09-08 17:25] NiklasPor opened #21 "Multiline Comments"
As already mentioned in #19 there were some problems with comments.
While single-line comments are fixed, multi-line comments are reformatted into a single line.

---

Source:
[code]

Expected:
[code]

Actual:
[code]

[2020-09-09 09:11] javifm86 opened #22 "Override is not working on html files"
First of all thanks for the plugin. I´m trying to configure with html and this is my `.prettierrc` file:

[code]

VSCode gives me this warning:

I am using these versions:

[code]

I also tried last version for prettier. Prettier and plugin are installed locally in the project. I am using Windows 10.

Thanks.

[2020-09-09 14:16] richtera opened #23 "The indentation of {{ else }} is one level too high."
[code]
Also I am not sure if this is related, but sometimes it does wrap tags in an unexpected way.
[code]
It's doesn't affect anything, but FYI.
Thanks
Andy

[2020-09-09 14:19] richtera commented on #21
#19 works correctly now, thanks. This makes a lot of sense to look into. I guess all formatting could be just turned off within the comment marks. Thanks for the patch for #19.

[2020-09-09 16:12] janraasch opened #24 "»SyntaxError: Unexpected closing tag« when go-template blog is inside of HTML-tag"
Hi @NiklasPor, sorry to bother you (again) 😜 😄 .

I think this might be a follow-up to https://github.com/NiklasPor/prettier-plugin-go-template/issues/12.

# Current Behavior

The following HTML-template

[code]

yields

[code]

# Expected Behavior

The HTML-template above should not yield an "Unexpected closing tag"-error 😸 .

For a real-world example, check out https://github.com/janraasch/hugo-

[2020-09-09 17:12] NiklasPor commented on #23
About the second wrapping, it's a prettier formatting thing.
If you put a space between the tags it'll break as you expect it to.

[2020-09-09 17:15] NiklasPor commented on #24
Thanks, I'll have a look at it 😄

[2020-09-09 17:22] NiklasPor commented on #9
I'll close this one as #23 is covering the last case 👍

[2020-09-09 17:22] #9 closed

[2020-09-09 19:33] NiklasPor commented on #24
I gave it a shot, could you try `prettier-plugin-go-template@0.0.11-beta` on your codebase?

[2020-09-09 19:36] NiklasPor commented on #22
Hey, the VSCode warning is normal – because it's a parser provided by a template_

I tried it with exactly your versions and it worked perfectly fine for me.
Could you also tell me which version of VSCode & which version of the Prettier Extension inside VSCode you're using?

And a reproduction repository would also be very nice if you find some time 😄

[2020-09-09 20:51] richtera opened #25 "Weird problem that I can't nail down in terms of script formatting"
We're using the go-templates prettier setup and it work 99% of the time, but every once in a while it will convert.
[code]
to
[code]
At seemingly random times. Something is triggering it to do the wrong thing but only very few occasions.
Not sure what to attribute it to.

[2020-09-09 23:06] richtera commented on #23
Ah perfect that makes sense. It's trying to not insert spaces where there were none :) cool.

[2020-09-10 07:32] javifm86 commented on #22
Wow I made a mistake, I had in VSCode html default formatter different than prettier. Now it´s working like a charm. Thanks for your help and for the plugin!

[2020-09-10 07:32] #22 closed

[2020-09-10 13:38] NiklasPor commented on #22
Happy to hear that! 👍

[2020-09-10 14:22] janraasch commented on #24
Hi @NiklasPor, sure.

I still get

[code]

on

[code]

using `0.0.11-beta`.

[2020-09-10 14:29] janraasch commented on #24
The problem seems to be the `define "main"`-opening, because

[code]

still fails with

[code]

while

[code]

works fine...

[2020-09-10 15:09] janraasch commented on #24
That's great.

Absolutely, the code is open-source anyway: https://github.com/janraasch/hugo-scroll 😸

[2020-09-10 17:15] NiklasPor commented on #24
Great!

Now please try again (one last time 😆 ) with `prettier-plugin-go-template@0.0.11-beta.2`.

[2020-09-10 17:29] janraasch commented on #24
@NiklasPor, w00ps, now something else broke 🤕 🤣 .

Now I'm getting a

[code]

for

[code]

[2020-09-11 14:36] richtera opened #26 "FATAL error in beta 0.0.11-beta"
I wasn't sure where to put this, but when using the latest beta version it's no longer recognizing the {{ end }} in some cases.
Version 0.0.11-beta
This file for example (gallery.html inside of hugo)
[code]
Will cause the following error:
[code]

[2020-09-11 15:08] janraasch commented on #26
See https://github.com/NiklasPor/prettier-plugin-go-template/issues/24#issuecomment-690537796 😺 .

[2020-09-11 15:14] NiklasPor commented on #26
Really sorry for that, `latest` now again points to `0.0.10`.

Just `npm i` again and install the "latest" version. 0.0.10

[2020-09-11 15:14] #26 closed

[2020-09-11 15:19] NiklasPor commented on #25
Hmm I can't replicate that one. This code example stays just the same:

[code]

Could you provide a larger example where the formatting fails?

[2020-09-11 15:22] janraasch commented on #26
@NiklasPor, as a *German* saying goes

😜 😄 .

(English translation: »Where wood is chopped, splinters must fall.«)

[2020-09-11 15:23] richtera commented on #25
Yea I can't either by choice. It happens all of a sudden when I run prettier from the command line or suddenly within visual studio code. We can just ignore it for now. It's some kind of edge case I think. It crept up on me several times but would not be visible on demand.

[2020-09-11 15:42] NiklasPor commented on #24
@janraasch So I fixed up the large example and it works now on my machine ™️

Please try out: `prettier-plugin-go-template@0.0.11-beta.3`

[2020-09-11 16:26] richtera commented on #26
Haha "genau!"

[2020-09-11 16:41] janraasch commented on #24
Hi @NiklasPor, thank you for your avid replies.

Sadly... 😺 there's a mew problem 😄.

For some reason, after running `prettier --write` **once**, your plugin now wants to *format again* and then it leaves a `<!--BPGTBPGT30EPGTEPGT--` and a `>` in the code.

Here's a branch to illustrate the issue: https://github.com/janraasch/hugo-scroll/commits/test-prettier-go-template

After running formatting

[2020-09-19 05:40] richtera commented on #23
The {{ else }} indentation problem seems to have come back in the latest version.
Strange, it was fine for a while now.

[2020-09-23 12:24] shiftgeist commented on #24
First of all thank you for this awesome plugin!

I can confirm this also happens for me as well (on version `0.0.11-beta.3`).

Source:
[code]

Prettier log:
[code]

The workaround I found, but not worked for every situation:
``diff
- <section class="relative py-12 mb-0 o-section" {{ if $dev }}template="api.html"{{ end }}>
+ <section class="relative py-12 mb-0 o-section" template="{{ if $dev }}api.

[2020-09-23 12:29] NiklasPor commented on #24
@shiftgeist
Sorry, I'm currently quite busy with some other (not opensource) projects 😢

Yes, we'd need a way to detect whether the `{{` and `}}` are inside a html tag.
If that's the case we could just use the regular replacement, instead of block replacement (for `if` etc).

In case you have anything in mind just hit me up here or on Twitter. Or open a PR – I'd be happy about every suggestion 👍

[2020-10-08 16:41] richtera opened #31 "Getting into some kind of "state" where I always get errors until completely restarting prettier"
Hi
I am using a prettier plugin in visual studio and every once in a while the go-template plugin gets into this state that says.
[code]
But there is no error in the file and if I restart visual studio it goes away. Then all I get is
[code]
With the same exact file but having restarted visual studio.
Not quite sure how to "debug" the actual problem. Suggestions? I was thinking of putting some rand

[2020-10-14 21:31] LandGod commented on #23
+1 for the `{{ else }}` problems. My company is looking at running prettier as a pre-commit hook on our Hugo site, but having that hook indent every single `{{ else }}` block in the whole repo to the wrong level would be very sad. Would love to know if a fix is in the works for this.

[2020-10-24 10:14] alqu commented on #21
...same goes for basic templates. I ran `npm test` and found 2 failing tests, one of them:
[code]
Will be formatted into
[code]
Which is not correct. The newlines are stripped.

In order to find the culprit I commented out the functions `replaceBlocks()` and `replaceSingles()`. No effect. So the culprit is somewhere in here https://github.com/NiklasPor/prettier-plugin-go-template/blob/da8244dfac66

[2020-10-24 11:22] NiklasPor commented on #21
@alqu All tests on master should be running fine:

![image](https://user-images.githubusercontent.com/13211347/97080491-008b4080-15fc-11eb-9ab6-fecbe016635e.png)

[2020-10-26 18:22] #21 closed

[2020-11-07 19:09] richtera commented on #31
So it seems to be that if you have a file with a missing `{{ end }}` it seems to affect other files when using this plugin within visual studio. If you never open that file things are ok, but once you open that file it seems to prevail until you restart visual studio.

[2020-11-07 19:11] richtera opened #33 "Setup child parser"
It would be really useful to setup a way to specify a child parser so that it's possible to use it for hugo templated js file as well as hugo templates HTML or templates json, yaml or xml.

[2020-12-03 23:00] silverwind opened #34 "Option to remove leading/trailing whitespace inside tags"
Not sure if options are on the table for this module, but I'd like to see one to remove the space here:

https://github.com/NiklasPor/prettier-plugin-go-template/blob/76ed1431e215ceecfd1464bccd3b172d37c5d8bb/src/index.ts#L50-L51

meaning it should output `{{.var}}` instead of `{{ .var }}` for people who prefer terseness.

[2020-12-05 11:44] NiklasPor commented on #34
That's for sure doable. If it's not much effort I'll implement it in the next week 👍
We can probably read a flag for that from the .prettierrc 🤔

[2020-12-15 19:36] NiklasPor commented on #34
Ah well, I was wrong. The spaces are added by the HTML Formmater, which is used for formatting the brackets. If you have some ideas how to implement this, feel free to open a PR.

Atleast with the current approach this seems not possible. Anyway, thanks for the suggestion. I'll close this issue to keep the board quite clean.

Thanks for your contribution.

[2020-12-15 19:38] NiklasPor commented on #34
Hey @all-contributors, pls add @silverwind for ideas. Thanks!

[2020-12-15 19:40] NiklasPor commented on #34
@all-contributors please add @silverwind for ideas

[2020-12-15 19:41] NiklasPor commented on #25
Hey @richtera , I'll close this one for now. If you happen to encounter it again, please open another issue!

Greetings
Niklas

[2020-12-15 19:41] #25 closed

[2020-12-15 21:49] richtera commented on #25
Yes that one is good

[2020-12-15 21:51] silverwind commented on #34
Thanks. I may contribute later after testing the plugin further. I want to introduce it on [gitea](https://github.com/go-gitea/gitea) for formatting of go templates via prettier, thought I'm pretty sure I'll hit a bug or two in the plugin in process 😉

[2021-01-03 10:59] cpence commented on #31
Same issue here; as far as I can tell, if you ever save a file with a missing `{{ end }}`, you have to restart VSCode. =(

[2021-01-07 11:26] NiklasPor commented on #31
Ah that's good input @cpence  & @richtera. I guess I know why this is happening.
I'll try a quick fix 👍

[2021-01-07 12:56] NiklasPor commented on #31
@richtera @cpence should be fixed in `0.0.11-beta.4`.

Would be nice if one of you could confirm that the version resolves the error.
I'll publish it as the latest version then. Already tested it myself and seems to work just fine:

`npm i prettier-plugin-go-template@0.0.11-beta.4`
_(Don't forget to restart VSCode / Extension Host after installing.)_

Thanks for your help ❤️

[2021-01-07 12:58] NiklasPor commented on #31
@all-contributors please add @cpence for bug

[2021-01-07 13:04] NiklasPor commented on #33
This will be very difficult, as the current implementation kind of depends on the html formatter. In case this project gains enough traction I'll rewrite the parser with this in mind, but atleast for now this is out of scope.

I'll leave this open, because it is a very good suggestion. Could also be helpful with markdown.

_Also I'm very sorry for answering this late, just missed this issue in my

[2021-01-07 23:27] cpence commented on #31
As far as I can tell, the fix works! Thanks so much!

[2021-01-08 16:18] richtera commented on #31
Hmmm, I am getting problems when using this commit version from the command line.
Example file
[code]
[code]
It's somehow losing track of counting in some cases now. Not sure how it would be related.

[2021-01-08 16:20] richtera commented on #31
I think it may have something to do with {{ }} inside of quotes or attributes or in the same line.
I also see problems in the following case:
[code]

[2021-01-09 11:00] NiklasPor commented on #31
@richtera Looks like the error is coming from " inside {{ }}. I'll check whether this is also a quick fix.

[2021-01-09 12:39] richtera commented on #31
FYI this doesn't happen in the release version.

[2021-01-26 07:33] inwardmovement commented on #22
Hi, how can I provide the go-template parser? Is it an extension or... ?
I have the same error.

[code]

[2021-01-26 07:58] javifm86 commented on #22
You must install on your project `prettier-plugin-go-template` and enable it on `.prettierrc` file for html files:

[code]
Make sure on VSCode prettier is your default formatter for HTML files.

[2021-01-26 08:16] NiklasPor commented on #22
Yes, just like @javifm86 said. You must:
1. install prettier locally: `npm install --save-dev prettier`
2. install the extension: `npm install --save-dev prettier-plugin-go-template`
3. adjust the .prettierrc according to the README.md

[2021-01-29 18:43] gcushen opened #38 "Bug with parsing Hugo's safeHTMLAttr"
# Problem

[code]

is converted to

[code]

Docs: https://gohugo.io/functions/safehtmlattr/

Note #24 reports a similar but different issue (it's unrelated to `safeHTMLAttr`). Perhaps when #24 is resolved, it might also resolve this one though.

Version: 0.0.10

[2021-01-29 19:05] gcushen opened #39 "Conditional statements misaligned due to formatter breaking lines"
Input

[code]

Output

[code]

`{{ end }}` is now misaligned with `{{ if ... }}` which can give the appearance that the rest of the file is within the _IF_ statement.

Line Width Setting

[code]

Version: 0.0.10

[2021-01-29 19:18] gcushen opened #40 "Syntax error: unexpected closing tag - issue with escaped strings in printf?"
# Problem

The following valid Hugo snippet

[code]

results in the plugin incorrectly exiting with a SyntaxError:

Version: 0.0.10

I can provide the full context if needed for reproduction of the issue.

# Analysis

The Hugo snippet runs fine in Hugo and appears to be a valid Go HTML Template.

Possible issue with formatter parsing HTML within Hugo's `printf`? Perhaps an issue with how the plugi

[2021-02-01 17:39] duckpuppy opened #41 "Weird issue with templating inside <style> tags..."
I have a layout file I'm creating for RevealJS presentations. Inside it, I include reveal CSS from a module using templating tags... however, when prettier runs it does a strange transformation to the file. If I just use the normal html parser, nothing happens.

Original file:
[code]

If I run `bin-prettier.js --parser go-template layouts/presentations/single.html`, I get:
[code]

The template fun

[2021-02-01 17:41] duckpuppy commented on #41
It seems to be the addition of the additional style:
[code]

If I remove that, the strange behavior goes away.

[2021-02-08 08:38] NiklasPor commented on #41
Probably a regex mismatch. I'll try it out later this day.

[2021-02-08 09:06] NiklasPor commented on #38
Yes you're right for this one probably, go templates which are inside tags, but not inside attributes, are currently (sadly) not working.

This still looks like some more specific bug tho, I'll leave this open to be fixed after #24.

[2021-02-20 02:18] apoorvmote opened #42 "Newlines in Template Actions and Commands"
This was just released https://github.com/gohugoio/hugo/releases/tag/v0.81.0
Most prominant update on first line of list of all update is now the following is valid.
[code]
Its not super urgent but adding support for this would be nice.
Also just wanted to tell you that I am really loving this pacakge. Only reason I switched to prettier is for word wrap feature. Since I switched to tailwindcss the

[2021-02-25 04:54] apoorvmote opened #43 "<!-- prettier-ignore --> doesn't work"
I am using this plugin with hugo and my content pages are written in `html` NOT `markdown`
Problem is prettier is formatting my code when I don't want it to. So I tried following to ignore code

Option1: doesn't work
[code]
Option 2: doesn't work
[code]
Option 3: doesn't work
[code]
Option 4: doesn't work
[code]
The following option does work but there is annoying prettier ignore comment
[code]
ab

[2021-03-03 10:04] timecode commented on #41
In case you need another test case / example, I've noticed the following...

Initial code:

[code]

After running once (on the immediately above code) all looks great :

[code]

After running again (on the immediately above code) it trips up :

[code]

Hope the examples help

[2021-03-06 18:57] jasikpark commented on #24
I seem to be having a similar problem with `{{ with .Get "class" }} ... {{ . }} ... {{ end }}` statements.

<details>
<summmary>Prettier Output:</summary>
<pre>
[error] layouts/_default/single.html: SyntaxError: Unexpected closing tag &quot;BPGT135EPGT&quot;. It may happen when the tag has already been closed by another tag. For more info see https://www.w3.org/TR/html5/syntax.html#closing-element

[2021-03-11 03:33] rmzg opened #44 "Option to outdent else/elsifs?"
Right now the formatter indents `else/else if` blocks one level deeper than their containing if, which is so confusing I assumed it was a bug, but I see in https://github.com/NiklasPor/prettier-plugin-go-template/issues/9 that it was deliberate, which is frankly even more confusing. Is there actually any other language with a standard format where you indent the else statement to a *different* lev

[2021-03-12 08:56] NiklasPor commented on #44
Hello @rmzg you're right this one is a bug. #9 was just about other formatting bugs, not about this one.

There is already an issue tracking this behaviour: #23

Kind regards
Niklas

[2021-03-12 08:56] #44 closed

[2021-04-16 01:50] philoserf commented on #43
Have you tried a `.prettyierignore` file? It worked for me in my own Hugo work.

https://prettier.io/docs/en/ignore.html

[code]

[2021-04-16 04:36] apoorvmote commented on #43
Here is my `.prettierignore` file

[code]

I got tired of waiting around and for code snippets I use `gist.github.com`

[2021-05-11 12:12] richtera opened #46 "Plugin fails with Prettier version 2.3.0"
I am not exactly sure what exactly changed, I do have the latest prettier which is the same you reference in your package, but this morning, when running prettier it's removing tag close making all my files invalid.
I am trying to figure out where and how, but so far everything else seems fine.
![image](https://user-images.githubusercontent.com/708186/117813016-8e451b00-b230-11eb-9d6e-f26ae86e19f1

[2021-05-11 13:11] richtera commented on #46
I rolled back to prettier 2.1.1 from 2.1.2. It seems there is some kind of conflict with the latest version causing this problem.

[2021-05-11 17:23] joshmossas commented on #46
I started experiencing the same issue here when I upgraded prettier to v2.3.0.

https://user-images.githubusercontent.com/31548851/117858549-9bbfcc80-b253-11eb-9cff-b6507bbdcf69.mp4

I rolled back prettier to v2.2.1 and restarted VSCode and everything seemed to be working again.

[2021-05-11 23:34] LandGod commented on #46
+1 for this issue. After upgrading to `2.3.0` I started seeing stuff like this all over my layout files:
![Screenshot 2021-05-11 161322](https://user-images.githubusercontent.com/8890238/117897000-a6d82400-b276-11eb-9c2a-3108af88556b.png)

Downgrading back to `2.2.1` got everything working again, although it would be great to be able to safely upgrade in the future.

[2021-05-13 19:42] philoserf commented on #46
@richtera Would you please update the title of this issue. Something like `Plugin fails with Prettier version 2.3.0`

[2021-05-14 20:40] jasikpark commented on #46
I've experienced the same effect of upgrading to Prettier 2.3.0 == random angle brackets being added and removed from my code.

[2021-05-21 11:52] NiklasPor commented on #46
Hey sorry all of you, I'll try to investigate this on Saturday and Sunday this week.
Also when someone wants to contribute via PR feel free to open one and I'll happily review it.

Kind regards,
Niklas

[2021-05-24 19:17] NiklasPor commented on #46
Hey everyone #49 (complete rewrite 👁️ )  should resolve this and also add support for else blocks besides some other stuff 🎉

I would be very glad if you could try out the new version, before I create an actual release:
`npm i prettier-plugin-go-template@0.0.11-beta.5`

If anything breaks mention it here or even better inside the PR: #49 🚀

[2021-05-24 19:24] NiklasPor commented on #43
@apoorvmote so is this about files that are not handled by this plugin?

For `*.ts`, `* .md` the regular prettier plugin formatting is formatting your code.

If you want to exclude everything except for the HTML files you can do it with your `.prettierignore` file:
https://github.com/prettier/prettier-vscode/issues/578

[2021-05-24 19:25] NiklasPor commented on #42
Hi, thanks for opening an issue for this 👍

I'll try to handle this inside the AST Rewrite #49 that also adds support for `else` blocks.

[2021-05-24 19:29] NiklasPor commented on #41
Hi,  with #49 this would be formatted like this:

[code]

I can see that the splitting up of single if / else blocks could be quite annoying, especially if all of the code is in the same line.

Could you tell me whether this looks fine for you, except for the if / else multiline break part?

[2021-05-24 19:31] NiklasPor commented on #40
Hi, #49 will resolve this 🚀

Output without error:
[code]

[2021-05-24 19:32] NiklasPor commented on #39
After #49 is released the output will look like this:

[code]

[2021-05-24 19:33] NiklasPor commented on #38
Fixed with #49 :

[code]

[2021-05-24 19:35] NiklasPor commented on #33
I think this could be quite doable as a long term goal. With the new implementation from #49 I should be able to switch to a different child parser.

Once all the basic features are done I'll come back to this.

[2021-05-24 19:35] NiklasPor commented on #31
Should be resolved in #49 .

[2021-05-24 19:39] NiklasPor commented on #24
This will be fixed with #49 .

---

Formatted examples:

@janraasch

[code]

@jasikpark
{{ with .Get "class" }}
  ... {{ . }} ...
{{ end }}

[2021-05-24 19:43] NiklasPor commented on #23
@LandGod this will be fixed with #49 🙉

Example:

[code]

This was with `printWidth: 100` inside the `.prettierrc`.

[2021-05-24 19:45] NiklasPor commented on #23
@LandGod the wrapping behavior comes from the chained tags. (`<div></div><span></span>`).
If you instead add a space between the different elements, prettier will use new lines for separation.

This is a behavior of the underlying HTML printer, not from this plugin 👀

[2021-05-24 23:25] gcushen commented on #39
Thanks, looks great - both the Go templating blocks and HTML blocks in your example are nicely aligned with themselves now! I'll try to test out the new release.

[2021-05-25 02:44] apoorvmote commented on #43
Well even if it does work 100% there is another problem.

100% of my pages are written in `amp` pages mostly talking about `html`, `jsx` and `amp` itself.  And even though the code snippet is inside `<pre><code><button onClick={() => console.log('hello world')}>submit</button></code></pre>` the `amp` runtime tries to execute `html` inside `<pre><code></code></pre>` on page load. So I couldn't use

[2021-05-25 12:59] duckpuppy commented on #41
It's at least not broken... there does seem to be an extra indent on some of the lines (all the template lines after the first one in the <style> tag, and the li:before line). It's still functional, but maybe not "prettier".

[2021-05-25 14:09] NiklasPor commented on #41
Yeah, the style formatting (just like the JS formatting), is a whole different story than the HTML stuff.
I'd hope to get this resolved once the HTML formatting is working like a charm.

I'll leave this open for now.

[2021-05-25 14:10] NiklasPor commented on #41
_Also with the new if / else behavior it'll be at least a bit smaller:_

[code]

[2021-05-25 22:24] jasikpark commented on #46
I have this failing commit: https://github.com/jasikpark/jasik-xyz/commit/3898b840284b9f61c88019ef65478b0c75c64d16

[2021-05-25 22:46] jasikpark commented on #43
@apoorvmote Could you reopen this issue but maybe make the title more specific to "`` doesn't work"?

[2021-05-26 02:23] apoorvmote commented on #43
Good so I am not the only one who is having this issue.

[2021-05-26 07:36] NiklasPor commented on #46
@jasikpark I think the reason for this were internal ID collisions this should be fixed now in `prettier-plugin-go-template@0.0.11-beta.7`.

[2021-05-26 15:00] jasikpark commented on #46
great, I'll check it out

[2021-05-26 15:18] richtera commented on #46
I am getting this error:
[code]
when trying to parse this file:
[code]
Not quite sure which child it's trying to find :)

It's also reformatting my files when I use multiple assignments in a row and pairing them together. Not sure why.
![image](https://user-images.githubusercontent.com/708186/119686167-0ce6ae80-be14-11eb-872e-c7c9f0019a16.png)

[2021-05-29 17:43] andreseduardop opened #50 "An additional `>` sign is added"
When trying to format this code

[code]

gets reformatted as

[code]

A `>` is added then the first `}}`
From then on everything is distorted.

I attach the console output after applying JsPrettier Format Code:
[output-console.txt](https://github.com/NiklasPor/prettier-plugin-go-template/files/6566437/output-console.txt)

And all the files from the test project:
[test-project.zip](https://github.c

[2021-05-30 17:08] andreseduardop commented on #50
I have tried again, using Beta version 5.
`npm install --save-dev prettier-plugin-go-template@0.0.11-beta.5`

But, now Prettier reports in the console the error "Prettier process finished with exit code 2."
This is the complete console output:
[output-console-beta-5.txt](https://github.com/NiklasPor/prettier-plugin-go-template/files/6566586/output-console-beta-5.txt)

The beta 5 test project:
[tes

[2021-06-14 20:49] thiagovilla commented on #50
I've been having the opposite error. Commenting here in case it's related. (Is it?)

The following code...

[code]

...formats to this:

[code]

[2021-06-21 17:24] NiklasPor commented on #50
Both of the cases should be resolved with `prettier-plugin-go-template@0.0.11-beta.9` 🧼

[2021-06-21 17:34] NiklasPor commented on #43
FYI `prettier-plugin-go-template@0.0.11-beta.9` also already includes Go specific ignore syntax:

[code]

All the contents of the ignored tag won't be formatted. Does this fulfill all of your needs? @jasikpark @apoorvmote

If something is not working with that syntax, please give me a specific example with *input*, *output* and *expected* sections. Also keep in mind that this plugin currently only

[2021-06-21 17:36] NiklasPor commented on #50
If this is not working for you, please re-open this issue 👍

[2021-06-21 17:36] #50 closed

[2021-06-21 17:36] jasikpark commented on #43
That looks like it'd work for me! I'll have to try that out, thanks for all your hard work on this!

[2021-06-21 17:43] NiklasPor commented on #46
@richtera Alright, I think the root of all evil here is the {{ else if }}. I'll adjust the block parsing & printing implementation to also support multiple else statements 👍

Thanks for reporting this, obviously I wouldn't have thought of it otherwise 😁

[2021-06-21 18:17] richtera commented on #46
That's great! Thank you.

[2021-06-21 20:44] andreseduardop commented on #50
Thanks, @NiklasPor

I am trying to install beta 9, with:
`npm install --save-dev prettier-plugin-go-template@0.0.11-beta.9`

But I get:
[code]

[2021-06-21 22:29] jasikpark commented on #43
@NiklasPor is beta-9 released yet? I don't see it on npm

[2021-06-22 00:25] philoserf commented on #50
npm has bata 8
https://www.npmjs.com/package/prettier-plugin-go-template/v/0.0.11-beta.8

[2021-06-22 06:08] NiklasPor commented on #43
Accidentally only published to my local registry. Should be available now 😁

`prettier-plugin-go-template@0.0.11-beta.9`

[2021-06-22 06:09] NiklasPor commented on #50
Sorry, I accidentally only published it to my local registry. Should be available now 😁

`prettier-plugin-go-template@0.0.11-beta.9`

[2021-06-22 14:52] NiklasPor commented on #42
@apoorvmote `prettier-plugin-go-template@0.0.11-beta.11` implements this feature:

input
[code]

output
[code]

[2021-06-22 15:30] NiklasPor commented on #34
Hey @silverwind, not sure if this is still relevant but besides many other features `prettier-plugin-go-template@0.0.11-beta.13` now has an option to remove the bracket spacing:

[code]

I'll reopen this until the PR is merged to master.

[2021-06-23 05:11] apoorvmote commented on #42
@NiklasPor Thanks for creating this feature. I am not adventurous beta testing guy. So I will test out when you merge with master.

[2021-06-24 22:09] philoserf commented on #46
for the record beta11 and beta13 are up on npmjs

[2021-06-24 22:14] philoserf commented on #50
as are beta11 and beta13 for the record

[2021-06-25 13:23] NiklasPor commented on #46
Hmm, I sadly cannot replicate that behavior. Double empty lines are always removed in my current build:

https://github.com/NiklasPor/prettier-plugin-go-template/blob/45eeee7c9e5794224f6cbe183eb947ad91274c31/src/tests/remove-double-empty-lines/expected.html

Can you give me a minimal example including input & output? Thanks a lot 😃

[2021-06-25 14:00] richtera commented on #46
Here is one of the files I am having problems with
https://gist.github.com/richtera/c73de9b46def78b7631c695e3b6b524a
It adds an empty line on line 82 when running prettier.
It's not fatal, but was kind of interesting.

[2021-06-26 01:54] andreseduardop opened #52 "Newlines within actions does not format correctly"
Support for newlines within actions and pipelines was added in [Go version 1.16](https://github.com/golang/go/issues/29770) and [Hugo release 0.81](https://github.com/gohugoio/hugo/issues/8210).
It would be useful if the format was kept or converted correctly.

### Problem
This:
[code]
is converted to:

[code]
Some spaces are needed.  :eyes:

### Expected result

Keep the formatting or (preferably

[2021-06-26 09:07] NiklasPor commented on #52
Fixed in `prettier-plugin-go-template@0.0.11-beta.14`. Thanks for reporting this 👍

[2021-06-26 09:07] #52 closed

[2021-06-26 09:56] NiklasPor commented on #41
`prettier-plugin-go-template@0.0.11-beta.15` automatically ignores <script> and <style> tags that cannot be formatted 🚀

[2021-06-26 10:00] #23 closed

[2021-06-26 10:00] #24 closed

[2021-06-26 10:00] #31 closed

[2021-06-26 10:00] #34 closed

[2021-06-26 10:00] #38 closed

[2021-06-26 10:00] #39 closed

[2021-06-26 10:00] #40 closed

[2021-06-26 10:00] #42 closed

[2021-06-26 10:00] #43 closed

[2021-06-26 10:03] NiklasPor commented on #41
`prettier-plugin-go-template@0.0.11` is now released

[2021-06-26 10:03] #41 closed

[2021-06-28 15:57] richtera commented on #46
beta.13 seems to work fine, but I am seeing problems with 0.11.0 and beta.15
I have an error now:
[code]
The file is
https://gist.github.com/richtera/2b9151eb5abea9f5f5c1558d0c4ad80a

[2021-06-28 19:34] NiklasPor commented on #46
Hey, sorry for that. Please try out `prettier-plugin-go-template@0.0.12-beta.1` 😅

[2021-06-28 19:42] richtera commented on #46
Closer. Only one file fails:
[code]
This is the file. It's short so I can put it here
[code]

[2021-06-28 19:43] richtera commented on #46
Let me clear npm and try it again....

[2021-06-30 18:16] jasikpark opened #54 "Questionable formatting of `<script>` tags w/ v0.0.11"
I'm not sure whether this is intended, but upgrading to v0.0.11 wants to make these changes:

https://github.com/jasikpark/jasik-xyz/commit/fe3f475d4f7903b1ba2d464b50e9d73989f258c9

It seems like a regression maybe? It definitely makes more sense to me for the `<script>` tags to start on their own lines, right?

[2021-06-30 18:57] jasikpark opened #55 "Duplicating code in v0.0.11"
in `youtube.html`, I had code duplicated...

before:

[code]

after:
[code]

[2021-07-02 19:27] LandGod opened #56 "[Bug] Additional newlines added during every format under prettier-ignore"
With the latest update I have found that in some cases running `format document` causes a new line to be added in some places over and over again. It seems that this happens below blocks that have been ignored by prettier. I've recorded my screen to demonstrate:

![lyG0Hs8wwd](https://user-images.githubusercontent.com/8890238/124319724-82d6e780-db2f-11eb-8c40-fe0f8c44f501.gif)

Sorry for the poor

[2021-07-03 00:09] LandGod commented on #56
I'm not sure if the following is related to the above, or an entire separate issue, but I am also seeing a single extra line added between a Hugo tag and an HTML tag.

For example, this codes is formatted in a that I think we would all expect.
[code]

On the other hand, when we have a hugo tag by itself followed by a new HTML tag, then we get this extra line for some reason. Example:
[code]
Note t

[2021-07-04 12:24] zimmski commented on #54
@NiklasPor I just added this plugin to our website and the following line

`{{ if .Params.Captcha }}<script src="https://www.google.com/recaptcha/api.js?hl={{ .Language.Lang }}"></script> {{ end }}`

results in the error `Error: Encountered unexpted end keyword.`

maybe this is related to this problem as well. If not, its a new problem. I will try an earlier version now.

[2021-07-04 12:35] zimmski commented on #54
It does work but multiple other templates now result in the end-tags be replaced with HTML comments and then fail with the formatter.

[2021-07-06 14:56] richtera commented on #46
@NiklasPor Were you able to reproduce the problem? I am using 0.0.11-beta.13 which seems to be working ok. I know that 0.0.12 should be better, but I am stuck with the above error for now. Let me know if I can provide any additional info.

[2021-07-06 15:26] NiklasPor commented on #46
Hi, I'll try to investigate this week. I guess I'll have to adjust the handling of <script> & <style> tags which cannot be formatted if they include {{}} (at least by prettier for js / css)

[2021-07-09 11:59] richtera commented on #46
@NiklasPor I just noticed a strange error which maybe related. I had a long comment with HTML in it that was missing end tags and it seems to have validated the end tags. Unfortunately I had to rush and delete the comments. I will try to put together an example, but FYI.

[2021-07-09 12:33] richtera commented on #46
There might be something more going on here. Somehow this file ended up getting completely destroyed when running it through prettier. The `{{ define "main" }}` somehow got duplicated and nested within itself. Very strange; it took me a while to untangle.

[2021-07-13 15:51] richtera commented on #46
In addition there are some dangerous reformattings happening here. For example
![image](https://user-images.githubusercontent.com/708186/125483700-c359d73f-0a3d-4f89-9659-bf057ddcda6b.png)
or
![image](https://user-images.githubusercontent.com/708186/125484032-8a56c91a-7c9c-449b-bb48-95bbaafbd562.png)
This causes required spaces to no longer exist in the templates. This problem is already in beta13

[2021-07-13 17:15] jasikpark commented on #46
I wish there was a way to define when whitespace was important to preserve and when it was not :/

[2021-07-13 17:38] richtera commented on #46
Agree. When outputting spaces more defensively using `{{" "}}` for example this is not a problem. For example this:
![image](https://user-images.githubusercontent.com/708186/125499077-7d1e29f3-e5c0-47a8-afea-973ac337f0e1.png)
won't be affected at all. Maybe this plugin could follow what js does for jsx: It will automatically inserts `{" "}` for straggling spaces before adding linefeeds to clean up

[2021-07-23 17:32] ajboni opened #57 "Vscode - Couldn't resolve parser "go-template""
Hello, when I try to format a document I get this error:

[code]
I've installed dependencies globally

[code]
Any ideas?

[2021-07-27 17:06] richtera commented on #46
Another thing I just ran into which maybe related to this. When using {{/* ... */}} it does format the section correctly, but when prettier --check is being run then the content within the comment is parsed and analytized. For for example if there are HTML tags within the comment which make the whole file invalid it will crash, but it will mark the prettier --check process as valid.
For example:
[

[2021-07-27 17:21] jasikpark commented on #46
Do you need an extra * on the opening to that comment maybe? `/** */` instead of `/* */`?

[2021-07-27 17:28] richtera commented on #46
I don't think so, because hugo understands this correctly, it's just the prettier run that's complaining. But maybe that's a workaround?

[2021-09-03 23:10] cameronelliott opened #58 "Prettier PR for VSCoder users?"
This seems like a fantastic project, thanks for implementing it.

I am more of a backend Go developer, and try to stay away from NPM/Yarn, Rollup, etc, etc

It would be really wonderful if this was part of Prettier, and
so every VSCode user could this plugin without having to touch NPM.
Just by using a standard VScode extension:
https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-v

[2021-09-03 23:17] cameronelliott commented on #58
One more thought, an example of a test-case in the README that shows a before & after example,
so users unfamiliar with `prettier-plugin-go-template` can see if they have installed it correctly would be super helpful.
Thanks again,

[2021-09-03 23:37] cameronelliott commented on #58
I just found this: https://github.com/prettier/prettier/issues/6034
😢

[2021-09-03 23:45] cameronelliott commented on #58
Okay, I guess my test cases are failing because the {{foo}} inside the <script> block causes the formatter to abort formatting.

[2021-10-02 08:51] NiklasPor commented on #58
<script> & <style> support is currently not there.

Regarding VSCode, I could consider publishing the plugin as an additional VSCode extension.

[2021-10-02 08:52] NiklasPor commented on #57
Yes, prettier & prettier-plugin-go-template should be installed in the same node_modules. Prettier only searches inside the same folder for plugins.

The best solution is to install both via `npm i` inside your repository. VSCode Prettier will automatically default to the local version.

[2021-10-02 08:57] NiklasPor commented on #46
Hi, I tried to understand what all happened here – but I guess the issue isn't anymore the Prettier version 2.3.0 right?

If anyone could give me a small recap of the discussed problem here, I'd be very happy to give a fix a shot.

---

Regarding the whitespace formatting: Yes I recognize that it's a real problem. This should be changed, but I'd rather fix more breaking issues when I have some tim

[2021-10-02 09:00] NiklasPor commented on #54
Yes, looks like a regression. Script & style formatting is tricky because I actually am not able to format the code inside.

I'll add a test that covers this and fix it up. Thanks for reporting 🚀

[2021-10-02 16:02] ajboni commented on #57
My project was not  a node project. Tried to use  the global approach without luck. However just  initializing an empty project and adding dependencies as stated in README fixed the issue.

[2021-10-02 16:06] #57 closed

[2021-10-02 22:50] jasikpark commented on #46
I think any problems that are still valid in this issue should definitely be broken out into their own issues 😅 i'll try to reread my old comments and figure out whether they still exist / a better way to write it

[2021-10-03 06:18] cameronelliott commented on #58
@NiklasPor I don't think I'm using this enough to justify me asking you to do that, but maybe if other people come along and want it to it makes sense.
I'm just kind of thrilled this exists for go templates in the first place.

[2021-10-12 19:09] schnerring opened #59 "Duplicating code if wrapping start and end HTML tag in separate `if` statements"
The following minimal example code ...

[code]

... duplicates to the following upon format:

[code]

My current workaround is this:

[code]

[2022-02-02 11:17] ZZa commented on #58
Please, do!

I.e. Grafana Unified Alerting Templates are [currently using Golang Template language](https://grafana.com/docs/grafana/latest/alerting/unified-alerting/message-templating/), and it would be really useful.

Currently, no golang-template formatter available for VS Code in Marketplace.

[2022-02-06 03:39] wangchucheng opened #60 "Can not work with js files"
I tried to use this plugin in my Hugo project and I found it could not work with js files well.

In Hugo, there is a feature that Hugo can execute js/css files as a template. FYI, https://gohugo.io/hugo-pipes/resource-from-template/.

But I found that if I used this feature and tried to format my project then it would break. It seems that this plugin did not have support for this, so I was wonderi

[2022-02-12 12:05] bep commented on #11
If someone else also scratches their head getting this to work, here are some notes from me.

The only way I have gotten this to work is to work is to do:

[code]

I have tried any combination (including checking the below), but have not found a way to make this work globally, which is really unfortunate (I have many projects ...).

<img width="903" alt="image" src="https://user-images.githubuserc

[2022-02-14 16:26] carlmjohnson opened #61 "Quotation marks inside of attributes"
If I have a template command that uses quotation marks inside of an HTML attribute, like `<div data-x='{{ doThing "whatever" }}'>`, I like for the outer quotation marks to be a single quote `'` so that my text editor (which doesn't know about Go templates) highlights the block semi-correctly, but the plugin changes it to be a double quote `"`.

[2022-02-14 16:30] carlmjohnson opened #62 "Incorrect treatment of <noscript> inside of <head>"
The plugin correctly realizes that adding certain tags inside of `<head>` implicitly closes the `<head>`, but incorrectly considers `<noscript>` to be a closing tag.

[2022-02-17 07:33] abramovslava opened #63 "pnpm package manager: Couldn't resolve parser "go-template""
Looks like `prettier-plugin-go-template` doesn't work with `pnpm` package manager, or I did something wrong.

When I try to call `prettier`, I got this error `Couldn't resolve parser "go-template"`.

My `pacakge.json`:
[code]

My `.prettierrc.js`:
[code]

Repo to reproduce: https://github.com/abramovslava/prettier-go-template-pnpm-issue

Thanks.

[2022-02-18 00:58] rootwork commented on #46
Just a follow-up here to ask that the 0.12-beta-1 either be released as a full release, if @NiklasPor thinks its ready, or if not to at least call out the beta in the project description.

I newly installed prettier-plugin-go-template and naturally already had the newest version of Prettier installed (2.5.1 as of this writing), but this plugin was completely broken -- exited with "Error: Encounter

[2022-02-18 04:26] gf3 commented on #63
Also experiencing this with the config listed in the documentation.

[2022-02-21 10:48] abramovslava commented on #63
I was able to fix it by adding `node-linker=hoisted` to `.npmrc`.

But anyway, I think it's not the best solution...

[2022-02-21 15:43] NiklasPor commented on #63
I think this is more of a general problem of prettier plugins, because pnpm behaves differently with packages than npm. Prettier searches for all installed node modules with a specific, I guess that's what's failing.

Other plugins experience the same:
https://github.com/sveltejs/prettier-plugin-svelte/issues/155

[2022-02-21 15:46] NiklasPor commented on #61
This is a default prettier behavior, and not specific to this plugin.

Take a look at this playground example:
https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeAFjAtgGwAQAmAhjEQLTwDOMAvAORUx0B8qA9JrsyADQgQAHGAEtolZKCIAnKRADuABWkJxKIjjlEAnuL4AjKUTABrODADKRLHAAywqHGQAzdZTj7DJs+YFH7Ac2QYKQBXdxA4LD04AgIYmyIofxCifzgAMQgpLBIRJOQQIhCYCF4QThwAdXRhKl8wOHMVWuEAN1qtArBKXRB7NykYBUN-HOdXcIArSgAPcwCcOABFEIh4

[2022-02-21 15:46] #61 closed

[2022-02-21 15:48] NiklasPor commented on #46
Both the beta version and the current release have a few separate issues. Sorry for the typo in the error 😆
I'll consider bumping up the beta state to stable if I don't encounter any severe additional issues.

[2022-02-21 16:46] carlmjohnson commented on #61
Okay, my workaround has been to use backticks like

[code]

That highlights better than using double quotes.

[2022-02-21 16:49] carlmjohnson commented on #62
Workaround:

[code]

[2022-03-05 21:08] jasikpark opened #64 "npm install is failing for me"
Currently debugging running `npm install` after cloning this project - I'm not sure what this error is:

[code]

[2022-03-05 22:47] NiklasPor commented on #64
Looks like your .npmrc config is pointing to a local registry. Atleast npm is trying to access the packages from localhost.

[2022-03-06 06:26] jasikpark opened #66 "Adds extra closing tags when closing tag is inside go block"
with

[code]

as input, `prettier-plugin-go-template@0.0.12-beta-1` outputs:

[code]

adding additional `<span>` tags

It doesn't error and return the original text like the `invalid` test case does, I think it should probably do so, since I don't see a way to reasonably format it

[2022-03-06 06:29] jasikpark opened #67 "Formats lines that break across `prettier-ignore` lines"
Given

[code]

as input, `prettier-plugin-go-template@0.0.12-beta-1` outputs

[code]

and so the line that `prettier-ignore` was meant to protect is formatted

[2022-03-06 06:36] jasikpark commented on #55
Finally realized the input has an unbalanced quote character, so it makes sense that `prettier-plugin-go-template@0.0.12-beta-1` throws on invalid node block

[code]

results in `Error: An error occured during printing. Found invalid node block` which sounds correct`

[2022-03-06 06:36] #55 closed

[2022-03-06 06:38] jasikpark commented on #63
Maybe you can try importing the plugin in your prettierrc and adding it to the plugins list?

[code]

I dunno whether that would work though

[2022-03-06 06:40] jasikpark commented on #56
It looks like `faq.html` doesn't produce a new line, but `footnote-format.html` does still produce a newline in `prettier-plugin-go-template@0.0.12-beta-1`

[2022-03-06 06:42] jasikpark commented on #66
This might be a duplicate of #59?

[2022-03-06 06:45] jasikpark commented on #60
I believe this project is mainly just supporting go HTML templates rather than JS or XML or CSS templates; I agree that the templating support in Hugo is really useful - I've used a custom output type to generate my `_headers` file w/ dynamic hash values for CSP purposes so I can use a [`strict-dynamic` policy](https://csp.withgoogle.com)

[2022-03-06 06:54] jasikpark opened #68 "Error: unexpected end keyword"
When formatting

[code]

I get this error: `Error: Encountered unexpted end keyword.` in `prettier-plugin-go-template@0.0.12-beta-1`

[2022-03-06 06:59] jasikpark commented on #68
When given

[code]

it formats without complaint. with thorough testing of this, I think there's something weird w/ this particular configuration of script tags

[2022-03-06 07:01] jasikpark commented on #46
I've tried to reduce some of the bugs that are still present in 0.0.12-beta-1 into small test cases in other issues; does it still make sense to have this issue open? I don't think prettier 2.3.0 is the problem, there's just some bugs that need fixing that are unrelated

[2022-03-06 07:04] jasikpark commented on #62
It looks like

[code]

gets formatted as

[code]

in `prettier-plugin-go-template@0.0.12-beta-1`. is that incorrect?

[2022-03-06 07:10] jasikpark commented on #54
After testing with both cases, it looks like `0.0.12-beta-1` is solving those problems.

[2022-03-06 07:10] #54 closed

[2022-03-06 07:11] jasikpark commented on #64
That's what it sounds like... but I haven't setup an `.npmrc` for this repo, and that's a run on a fresh https://gitpod.io machine cloned from this repo :/

[2022-03-06 08:22] NiklasPor commented on #46
Thank you for your effort @jasikpark ! I'll close this one and hope that everyone else finds their own "bugs" in the now open issues. If something is still missing feel free to create an additional one.

[2022-03-06 08:22] #46 closed

[2022-03-06 17:25] jasikpark opened #69 "File with just text and go template command is not idempotent"
When giving `prettier-plugin-go-template@0.0.12-beta-1`

[code]

formatting it once outputs

[code]

and then formatting that output again (imagine you've saved twice in your editor)

[code]

[2022-03-06 18:24] carlmjohnson commented on #62
That is incorrect. There are tags that implicitly close `<head>`, but noscript is not one of them.

[2022-03-28 02:06] mtlynch opened #71 "Financial donations?"
Thanks so much for your work on this project! It's a great improvement to my dev workflow.

Is it possible to make financial contributions to the project?

Consider [adding a file called `.github/FUNDING.yml`](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository) that shows people how they

[2022-03-28 06:57] NiklasPor commented on #66
Yes, exact duplicate of #59.

[2022-03-28 06:57] #66 closed

[2022-03-28 06:59] NiklasPor commented on #59
Hey there, sadly this is notoriously hard to fix as currently the template is parsed as a tree. The go formatter invokes the prettier html formatter for the contained text, but that one struggles when there are missing tags etc.

I'll try to find a solution to work around this. Thanks for reporting the issue.

[2022-03-28 09:23] NiklasPor commented on #60
Related to #33 — but in a separate file.

[2022-03-28 09:24] NiklasPor commented on #62
@carlmjohnson could you please validate the bug on the version @jasikpark suggested again?

[2022-03-28 09:28] NiklasPor commented on #63
Hey all, this seems to be a known issue with prettier and pnpm and therefore not related to this plugin.

There is currently an open PR  https://github.com/prettier/prettier/pull/11248#issuecomment-1003562520 which seems to solve the comparability issue .

[2022-03-28 09:32] NiklasPor commented on #63
Suggested workaround is to use the require syntax in a `prettierrc.JS` file:

[code]

If you have further problems with pnpm, please refer to the PR linked above.

[2022-03-28 09:32] #63 closed

[2022-03-28 18:24] gf3 commented on #63
just tried out the suggested fix you mentioned and it's working for me! thank you @NiklasPor

[2022-03-30 18:06] NiklasPor commented on #69
@jasikpark can you validate if this is fixed in `prettier-plugin-go-template@0.0.12-beta.2`?

[2022-03-30 18:24] NiklasPor commented on #59
@schnerring sorry, I have this nearly fixed – but until the HTML formatter has an option to disable auto-closing tags, I'll have to keep this open.

Related prettier issue: https://github.com/prettier/prettier/issues/5665

[2022-03-30 21:18] jasikpark commented on #59
Would it be possible to error & link to this issue instead of duplicating code?

I'm pretty sure this pattern isn't allowed in JSX.. it seems reasonable to not allow it until there's a workaround.

[2022-03-30 21:55] jasikpark commented on #69
That particular variant seems to be fixed

[2022-03-30 21:58] jasikpark opened #79 "Different formatting result after formatting once"
When given:

[code]

` "prettier-plugin-go-template": "^0.0.12-beta.2",`

outputs

[code]

And when formatting the resulting output it prints:

input:
[code]

[code]

It seems like it shouldn't be formatting the code if it fails/errors, right?

[2022-03-30 22:10] jasikpark commented on #64
After testing agan this still fails on a fresh gitpod machine... I'm not sure why it's erroring for me exactly

[2022-03-31 05:09] NiklasPor commented on #64
Very weird, I just reinstalled all dependencies yesterday evening and it went without any problems.I'm using Node 16.

I also have no local registry running or anything.

[2022-03-31 06:02] #69 closed

[2022-03-31 06:26] NiklasPor commented on #79
Please confirm the fix in `prettier-plugin-go-template@0.0.12-beta.3`

[2022-03-31 17:30] #56 closed

[2022-03-31 17:34] NiklasPor commented on #56
@all-contributors please add @jasikpark  for  bug doc example ideas maintenance question

This was about time ⏫ Thanks a lot for all the time you put in @jasikpark

---

@all-contributors please add @LandGod  for  bug

[2022-03-31 17:35] NiklasPor commented on #56
https://github.com/all-contributors please add @jasikpark for bug doc example ideas maintenance question

[2022-03-31 17:36] NiklasPor commented on #56
@all-contributors please add @jasikpark for bug doc example ideas maintenance question

[2022-03-31 17:37] NiklasPor commented on #56
This was about time 🚀

[2022-03-31 17:37] NiklasPor commented on #56
https://github.com/all-contributors please add @LandGod for bug

[2022-03-31 17:38] NiklasPor commented on #56
@all-contributors please add @LandGod  for bug

[2022-03-31 17:39] NiklasPor commented on #56
Sorry for the e-mail spam guys 👀

[2022-03-31 17:40] #79 closed

[2022-04-01 15:10] #68 closed

[2022-04-01 15:10] NiklasPor commented on #68
Should be fixed in `prettier-plugin-go-template@0.0.12-beta.5`

[2022-04-01 15:14] NiklasPor commented on #67
This is not specific to this project, but rather a regular behaviour of the prettier ignore comment. It only ignores the next "block", in this case the first `<span>` element.

As you can see in this [example](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeAhAWkwAgA4BOcMMAlnAZqQOZQRE7YB8AOlKgM54CGUO-ObiQIBeFiADuACyFwAbhXFNUAei69l6vgP5CYo8dNkKCStqq1MQAGhAQ8ZaB2ShuBAhAkAFNwmcpuABsJbgBPZ1sAIwJuM

[2022-04-01 15:14] #67 closed

[2022-04-01 15:22] #64 closed

[2022-04-01 15:24] #62 closed

[2022-04-01 15:59] jasikpark commented on #79
Looks like that sorted it, thanks! 😁

[2022-04-01 16:46] jasikpark commented on #67
Ah yep even formatting my [example](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeAhAWkwAgA4BOcMMAlnAZqQOZQRE7YB8AOlKgM54CGUO3JAgF4WIYMByTJ8DjClSAvgtFNUAei69VmvgJjDR4+ThlzjSlW3U6mIADQgIeMtA7JQ3AgQgB3AAqeCG4o3AA2PtwAnm4OAEYE3GAA1sQAytwAtnAAMqRQcMgAZmEccHEJyWk8YHnUyPoArmUgcBmxcAAmHZ3ZvNQN3NRwAGL0GXq1yCDcDTAQ9iAAFjAZoQDqi6Qy1XCpQVukAG5bkVNgHDEgeaUEMH4J1ONFJc0AVhwAHqm1oXAAig0IPBnqFSg4eAQblNlqsFo

[2022-04-01 19:27] NiklasPor commented on #58
@cameronelliott there are now examples in the `README.md` and you can play with the plugin on the [playground](https://prettier-plugin-go-template-playground.niklaspor.dev/) 🚀

[2022-04-01 21:51] jasikpark commented on #59
It moght be worth looking at how handlebars was implemented 🤔

[2022-04-01 22:12] schnerring commented on #59
As I've mentioned, I have a workaround, so no pressure. 😄 Thanks for looking into this!

[2022-04-11 15:05] jasikpark commented on #64
thanks a lot for sorting that out!

[2022-04-16 18:28] mtlynch commented on #68
Thanks for this fix! I was running into this as well. Upgrading to 0.0.12 fixed it.

https://app.circleci.com/pipelines/github/mtlynch/picoshare/540/workflows/c5ea13f9-c783-478d-ba91-8704a21199ea/jobs/1920

[2022-04-16 18:58] NiklasPor commented on #68
Always happy to help 🚀

[2022-04-20 21:02] jasikpark opened #82 "Format is not idempotent"
When `prettier-plugin-go-template@0.1.2-beta.5` is given:

[code]

it first formats it as

[code]

and on a second format as

[code]

Is `#` a valid beginning to some go template clause? It reads to me like this should be an error, but I'm unsure...

[2022-04-25 14:46] reggieds opened #83 "Error - Found invalid node block"
I've got this error while reformat using prettier on Hugo HTML document.

[code]

My VSCode settings:
[code]

[2022-04-25 15:01] NiklasPor commented on #83
Please provide the HTML template which caused this issue. Otherwise there's no way to debug this 👍

[2022-04-25 15:01] jasikpark commented on #83
Would you mind adding which version of `prettier-plugin-go-template` you have installed as well?

[2022-04-26 03:04] reggieds commented on #83
[code]

[2022-04-26 03:25] #83 closed

[2022-04-26 03:26] reggieds commented on #83
Error gone after I reinstall my vscode prettier extension. Thanks all.

[2022-04-26 03:44] jasikpark commented on #83
good luck then 👍

[2022-05-13 01:42] mtlynch opened #84 "Formatting fails for HTML custom elements"
I'm still loving this plugin. Thanks so much for your work on this!

I'm noticing an issue when I try to use it on [HTML custom elements](https://css-tricks.com/crafting-reusable-html-templates/) that include Go templating.

### Works fine

In the following example without any Go template syntax, the prettier-plugin-go template works fine:

[code]

### Failure to process templated attributes

If I

[2022-05-14 10:10] NiklasPor commented on #84
Hey, thanks for reporting the issue 👏

Could you check whether `prettier-plugin-go-template@0.0.13-beta.1` resolved this for you?

[2022-05-14 12:26] mtlynch commented on #84
@NiklasPor - wow, fast fix! Yep, I tried installing the beta and confirmed 71dc2e7337fc05341f5ee89fa289e39a3c1e95fe works on all of my custom element files.

[2022-05-14 12:26] #84 closed

[2022-05-14 12:46] NiklasPor commented on #84
Great, I'll publish `prettier-plugin-go-template@0.0.13` as a stable release with the fix then 👍

[2022-05-14 12:48] NiklasPor commented on #84
@all-contributors please add @mtlynch for bug

[2022-05-29 20:50] phelipetls opened #87 "Error thrown when formatting dynamic HTML tag like `<h{{ .Level }}></h{{ .Level }}>`"
For example, if we try to format the ["Render heading link" markdown render hook example](https://gohugo.io/templates/render-hooks/#heading-link-example) from the documentation, the following error is thrown:

[code]

[2022-05-29 20:57] NiklasPor commented on #87
Hi, thanks for reporting. Are you on the latest plugin version? If not please upgrade first 🚀

[2022-07-19 18:23] jasikpark opened #90 "prettier print/embed are async now"
I don't think this is relevant, but it could be: prettier print/embed functions are now async to support asynchronous processes for printing the languages, such as calling out to a WASM binary: https://github.com/prettier/prettier/pull/13104

[2022-08-06 00:27] cnunciato opened #92 "Lines containing variable definitions cause double-empty lines"
First off, thanks for this excellent plugin!

One thing I've noticed is that when a line containing a variable definition has no trailing space, and that same line is followed by a single empty line, the plugin appends a second empty line. Here's a video using the playground that shows this behavior:

https://user-images.githubusercontent.com/274700/183225768-c066bb8c-5e9e-4b16-8bfe-331d228bb0c0.m

[2022-08-06 00:31] cnunciato commented on #92
Just noticed this comment also, which seems likely related:

https://github.com/NiklasPor/prettier-plugin-go-template/issues/56#issuecomment-873311542

[2022-08-06 05:16] NiklasPor commented on #92
Hey, thanks for reporting!

Sadly bugs like these aren't quite easy to fix, as this whole plugin is based around heuristics (regex 😂) which extract all go-interpolation and invokes the regular HTML formatter — I didn't want to invest the time to write a new one here for obvious reasons.

If you're able to fix this I'll surely accept a PR 🚀

[2022-10-06 13:25] adorebo commented on #58
Never used node.js before, and had it all installed just for this pretty software piece of yours. It was interesting, but having the prettier plugin go template live next to the other vscode extensions would be smoother for sure

Cheers !

[2022-10-13 22:23] josharian opened #93 "confused by multiline comments containing syntax"
[code]

This causes a spurious error:

[2022-10-13 22:32] josharian opened #94 "prettier-ignore comments don't work for html fragments"
We have a series of templates that are used to render headers and footers piecemeal. They contain mismatch html tags, by design.

I figured we could work around this by using ignore comments. However, this doesn't work.

[code]

This yields:

[2022-10-13 22:40] josharian opened #95 "fails on html tags using if/else"
We have code structurally similar to this (only more complex, with different tags):

[code]

This yields:

This is similar to https://github.com/NiklasPor/prettier-plugin-go-template/issues/59, but it causes an error instead of duplication.

[2022-10-13 22:43] josharian commented on #95
This obviously can't be solved in the general case. (The if statement could call a Go function, so solving this is equivalent to solving the halting problem.) But some common cases could be special-cased to handle most scenarios.

[2022-10-14 05:19] NiklasPor commented on #94
Yep, as you probably figured out, mismatched HTML tags are currently a problem as the parser is just a derivation from the regular HTML parser with additions.

[2022-10-14 05:24] josharian commented on #94
Yep. :)

The thing I was surprised by here is that the ignore comments didn’t resolve the problem—I guess I expected them to cause the intervening contents to be completely skipped during the analysis.

[2022-10-19 08:16] PRO-BROS commented on #95
Hi you can understand all these logics from this [site](https://prhocoding.com/)

[2022-10-19 14:46] sosukesuzuki opened #96 "Migrate to Prettier v3"
Hi, I am a maintainer at Prettier.

The Prettier team is currently working on v3(still alpha).
v3 will include breaking changes to the plugin interface.
Please see https://github.com/prettier/prettier/releases/tag/3.0.0-alpha.2 for more information.

I created this issue to help major plugins migrate to Prettier v3.

Myself and @fisker have created a migration guide which you can see here:

https: